# Dart / Flutter
.dart_tool/
.packages
.pub/
.pub-cache/
build/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store

# Flutter platforms (если хочешь хранить только lib)
android/
ios/
linux/
macos/
web/
windows/

# Tests (если не используешь)
test/

# Coverage
coverage/