# Dart / Flutter
.dart_tool/
.packages
.pub/
.pub-cache/
build/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store

# Flutter platforms 
android/
ios/
linux/
macos/
web/
windows/

# Tests 
test/

# Coverage
coverage/